.backToTop {
    position: fixed;
    right: 1.5rem;
    bottom: 0.1rem;
    font-size: 3rem;
    z-index: 999;
}

.backToTop button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 25px;
    padding: 20px;
    transition: transform 0.5s;
}

.backToTop button:hover {
    transform: scale(1.2);
}

.backToTop button img {
    color: black;
    background: #66B3FF;
    border-radius: 25px;
    height: 3rem;
    width: 3rem;
}