.about {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.about--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    background-color: #212121;
}

.about--img {
    --img-size: 50vmin;
    position: absolute;
    left: 35%;
    transform: translateX(-85%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #999999;
}

.about--container-left {
    flex: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095FF;
}

.about--container-right {
    flex: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}

.about--content {
    margin: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about--content-social {
    font-size: 50px;
    margin: 0 1rem;
    transition: transform 0.5s;
    justify-content: flex-end;
    justify-self: flex-end;
}

.about--content-social > img:hover {
    transform: scale(1.2);
}

.acr--content {
    justify-self: flex-end;
    justify-content: flex-end;
}

.acr--content h6 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: -0.85rem;
    opacity: 0.8;
}

.acr--content h1 {
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 110%;
    margin: 1rem 0;
}

.acr--content p {
    margin-top: 1.45rem;
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.7;

}