.about {
    display: flex;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.about .line-styling {
    display: flex;
    position: absolute;
    top: 10px;
    height: 10px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.about .line-styling .style-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 2%;
    background-color: #0095FF;
}

.about .line-styling .style-line {
    width: 95%;
    height: 4px;
    border-radius: 10px;
    background-color: #0095FF;
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    margin: 0 2rem;
}

.about-description h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
}

.about-description p {
    font-size: 1.15rem;
    color: #e0d9d9;
}

.about-img {
    display: none;
}

@media only screen and (min-width: 600px) {
    .about-description h2 {
        font-size: 3.10rem;
    }

    .about-description p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .about .line-styling {
        top: 3rem;
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .about .line-styling {
        width: 90%;
    }
    
    .about .line-styling .style-circle {
        width: 10px;
        height: 10px;
    }
    
    .about .line-styling .style-line {
        width: 95%;
        height: 5px;
    }

    .about-body {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .about-description {
        text-align: initial;
        align-items: flex-start;
    }

    .about-description h2 {
        font-size: 3.2rem;
    }

    .about-description p {
        font-size: 1.25rem;
    }

    .about-img {
        display: flex;
        object-fit: contain;
        height: 100%;
        width: 40%;
        padding: 5%;
    }

    .about-img img {
        height: 60%;
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    
    .about-body {
        flex-direction: row;
        padding-top: 8rem;
    }
    
    .about-description {
        width: 60vw;
    }

    .about-description h2 {
        margin-bottom: 40px;
        font-size: 3.5rem;
    }
}
