.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0095FF;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.testimonials--header h1 {
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

.testimonials--body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

.testimonial--item {
    padding: 2rem;
    width: 100%;
    height: 600px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials--img {
    background: #eee;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    z-index: 3;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    object-fit: contain;
}

.testimonials--content {
    background: black;
    margin: 0 auto;
    width: 70%;
    height: 350px;
    border-radius: 200px;

    box-sizing: border-box;
    padding: 10px 20px;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials--content p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    width: 80%;
}

.testimonials--content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}

.testimonials--content h4 {
    font-size: 1rem;
    font-weight: 500;
}