.experience {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.experience--header {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.experience--header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
}

.experience--body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 0;
    margin: auto;
}

.experience--description {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.experienceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0095FF;
    object-fit: contain;
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    margin-bottom: 2rem;
    transition: transform 0.5s;
    box-shadow: 2px 2px 10px #999999;
}

.experienceCard:hover {
    transform: scale(1.1);
}

.experienceCard .experienceCard--body {
    margin: 2%;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.experienceCard .experienceCard--img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: contain;
    padding: 2%;
    z-index: 3;
}

.experienceCard--header {
    font-weight: 600;
    font-size: 1.1rem;
}

.experienceCard--subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 1.1rem;
}

.experienceCard--text {
    font-weight: 500;
    color: #e0d9d9;
    font-size: 1.2rem;
}

.experience--img {
    display: none;
}

@media only screen and (min-width: 600px) {
    .experience {
        min-height: 100vh;
        margin-bottom: 5%;
    }

    .experience--header {
        margin-bottom: 1.5rem;
    }

    .experienceCard {
        height: 32vh;
        flex-direction: row;
    }

    .experienceCard .experienceCard--body {
        position: relative;
        width: 60%;
    }

    .experienceCard--img {
        position: relative;
        height: 90%;
        max-width: 40%;
    }

    .experienceCard--header {
        font-size: 1.2rem;
    }
    
    .experienceCard--text {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 768px) {
    .experience {
        min-height: fit-content;
    }

    .experience--header h1 {
        font-size: 3.2rem;
    }

    .experienceCard {
        height: 20vh;
    }

    .experienceCard--header {
        font-size: 1.3rem;
    }
    
    .experienceCard--subtitle {
        font-size: 1.2rem;
    }
    
    .experienceCard--text {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 992px) {
    .experience--header {
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 5%;
    }

    .experience--header h1 {
        font-size: 3.5rem;
    }

    .experience--description {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-right: 5%;
    }
    
    .experienceCard {
        flex-direction: row;
        position: relative;
        width: 55vw;
        height: 22vh;
    }

    .experience-img {
        display: flex;
        width: 100%;
        pointer-events: none;
        justify-self: flex-start;
        padding: 5%;
    }
    
    .experience-img > img {
        width: fit-content;
        max-height: 100%;
        max-width: 100%;
    }

    .experienceCard--header {
        font-size: 1.4rem;
    }
    
    .experienceCard--subtitle {
        font-size: 1.4rem;
    }
    
    .experienceCard--text {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1200px) {}